/* General */
$fontSize:14px;
$borderRadius:12px;
$transitionDuration:.2s;
$maskBg:rgba(0, 0, 0, 0.4);

//background-colors
$body-background: #FBFDFF;

//colors
$primary-color: #483285ff;
$second-color: #fda029;
//$second-color: #F44B87;
$black-color: rgba(31, 31, 31, 0.88);
$black-second-color: #343943;
//$gray-color: #616e89;
$gray-color: #404040;
$gray-second-color: #D8DDE4;


